/* ==============
  Custom Style
===================*/

.overflow-auto {
    overflow: auto;
}

.crop-center {
    object-fit: cover;
    object-position: center;
}

.list-diskusi {
    display: block;
    color: $dark;
    cursor: pointer;

    &:hover {
        color: $primary;

        .card {
            background-color: rgba(63, 81, 181, 0.1);
        }
    }
}

#input-komentar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 240px;
    z-index: 99;
}

.img-diskusi {
    width: 100%;
    max-width: 240px;
    max-height: 480px;
}

.img-grid {
    width: 200px;
    height: 200px;
}